<a href="https://colab.research.google.com/github/abhimanyusinghp/Learn_Python_AI/blob/main/Day_04_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for i in range(1,10): # do not include 0
  print(i)  # i variable is an iterator

1
2
3
4
5
6
7
8
9

*   Loops : For loop, while loop, mostly used is for loop
*   Loops means repititive, repeat action
*   'for' is a keyword.
*   range is also a keyword.
*   range() is a function.
*   range(start, end),
*   where by default start is 0 and end is any value, which is range(end value), end only works till end_value-1 to print, like if end value is 20, it'll only print till 19.
*   print() is a funciton.
*   instead of printing each number like print(1), print(2),... use for loop and range()
*   'in' is like a english word to say this is 'in' that.

In [6]:
for i in range(10): # include 0 value
  print(i)

0
1
2
3
4
5
6
7
8
9

*   Now lets try to combine previous days if else code here
*   if n/10 -> reminder of 0, lets implement in for loop.

In [7]:
100/10 # gives quotient

10.0

In [8]:
100%10 # gives remainder

0

In [9]:
103%10 # gives remainder

3

In [13]:
num = 70

if (num%10 == 0):
  print(num,"Divisible by 10")
else:
  print(num,"Not Divisible by 10")

70 Divisible by 10

*   So this is how we implement if condition to check the divisibility.
*   Now lets implement this code in for loop.

In [16]:
for i in range(100):
  if (i%10 == 0):
    print(i,"Divisible by 10")

0 Divisible by 10
10 Divisible by 10
20 Divisible by 10
30 Divisible by 10
40 Divisible by 10
50 Divisible by 10
60 Divisible by 10
70 Divisible by 10
80 Divisible by 10
90 Divisible by 10

In [18]:
for i in range(100):
  if (i%10 == 0):
    print(i,"Divisible by 10")
  else:
    print(i,"Not Divisible")

0 Divisible by 10
1 Not Divisible
2 Not Divisible
3 Not Divisible
4 Not Divisible
5 Not Divisible
6 Not Divisible
7 Not Divisible
8 Not Divisible
9 Not Divisible
10 Divisible by 10
11 Not Divisible
12 Not Divisible
13 Not Divisible
14 Not Divisible
15 Not Divisible
16 Not Divisible
17 Not Divisible
18 Not Divisible
19 Not Divisible
20 Divisible by 10
21 Not Divisible
22 Not Divisible
23 Not Divisible
24 Not Divisible
25 Not Divisible
26 Not Divisible
27 Not Divisible
28 Not Divisible
29 Not Divisible
30 Divisible by 10
31 Not Divisible
32 Not Divisible
33 Not Divisible
34 Not Divisible
35 Not Divisible
36 Not Divisible
37 Not Divisible
38 Not Divisible
39 Not Divisible
40 Divisible by 10
41 Not Divisible
42 Not Divisible
43 Not Divisible
44 Not Divisible
45 Not Divisible
46 Not Divisible
47 Not Divisible
48 Not Divisible
49 Not Divisible
50 Divisible by 10
51 Not Divisible
52 Not Divisible
53 Not Divisible
54 Not Divisible
55 Not Divisible
56 Not Divisible
57 Not Divisible
58 Not Divisible
59 Not Divisible
60 Divisible by 10
61 Not Divisible
62 Not Divisible
63 Not Divisible
64 Not Divisible
65 Not Divisible
66 Not Divisible
67 Not Divisible
68 Not Divisible
69 Not Divisible
70 Divisible by 10
71 Not Divisible
72 Not Divisible
73 Not Divisible
74 Not Divisible
75 Not Divisible
76 Not Divisible
77 Not Divisible
78 Not Divisible
79 Not Divisible
80 Divisible by 10
81 Not Divisible
82 Not Divisible
83 Not Divisible
84 Not Divisible
85 Not Divisible
86 Not Divisible
87 Not Divisible
88 Not Divisible
89 Not Divisible
90 Divisible by 10
91 Not Divisible
92 Not Divisible
93 Not Divisible
94 Not Divisible
95 Not Divisible
96 Not Divisible
97 Not Divisible
98 Not Divisible
99 Not Divisible