<a href="https://colab.research.google.com/github/abhimanyusinghp/Learn_Python_AI/blob/main/Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# int float str

#  int - integer - '-infinity', ..., -1, 0, 1, ....infinity
#  float - decimal - 0.1, 0.01. -0.1, 10.3
#  str - characters - "a", 'a', "bus", " ", "im in bus", "#", "@", '.'

Keywords in Python

ctrl + A (select All)

ctrl + / (comment all)

```
# This is formatted as code
int - integer - '-infinity', ..., -1, 0, 1, ....infinity.
float - decimal - 0.1, 0.01. -0.1, 10.3.
str - characters - "a", 'a', "bus", " ", "im in bus", "#", "@", '.'
```

In [3]:
# Variables

100 + 25 + 40 # Even this will run as calculator, but in one of this console, only 1 output is given

14

In [4]:
100 * 7

700

In [5]:
100//7

14

In [6]:
virat = 60 # virat is a variable to which value is assigned
rohit = 30
rahul = 10

In [7]:
virat # now if we call any variable we gets its value

60

In [8]:
virat + rohit + rahul # we can also add these

100

In [9]:
x = 1
y = 2
z = 3
# we can also do like this

In [ ]:
1 = 2
2 = 4
# This is wrong, numers cant be assigned anything

In [ ]:
x,y,z = 1,2,3 # we can also assign like this and this is amazing. Single line assignment

In [11]:
a,b = 10, 20 # run this before assigning

In [14]:
c = a + b # c is new variable to which we assigned 2 other variables in some operation, so here it runs and stores

In [15]:
c # so here we print the stored value

30